/confluence-lite-api/ConfluenceLite.Api/bin
/confluence-lite-api/ConfluenceLite.Api/obj
/confluence-lite-api/ConfluenceLite.Api/INSTALLED
/confluence-lite-api/ConfluenceLite.Api/wwwroot
/confluence-lite-app/public/uploads
/release
/.vs
/confluence-lite-api/ConfluenceLite.Api/Data/INSTALLED
cache
appsettings.Development.json
/.idea
appsettings.runtime.json
temp
backups
cache
/confluence-lite-app/src/version.js
