/confluence-lite-api/ConfluenceLite.Api/bin
/confluence-lite-api/ConfluenceLite.Api/obj
/confluence-lite-api/ConfluenceLite.Api/INSTALLED
/confluence-lite-api/ConfluenceLite.Api/wwwroot
/confluence-lite-app/public/uploads
/release
/.vs
/confluence-lite-api/ConfluenceLite.Api/Data/INSTALLED
cache
/confluence-lite-api/ConfluenceLite.Api/appsettings.Development.json
/.idea
